# Data Science Tools and Ecosystem

## Author
Alexander Roppelt

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Create a table containing Data Science Tools
- Display some simple arithmetic expressions

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Julia
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
| :-|
| Jupyter Notebooks |
| R Studio |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
TwoHundred_m_in_h = 200/60
print("200 minutes are {:.2f} hours" .format(TwoHundred_m_in_h))

200 minutes are 3.33 hours